@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInUp 1s ease-in-out both; /* Corrected animation */
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-container {
  display: flex;
  animation: scroll 20s linear infinite;
  width: max-content;
}

.overflow-hidden {
  width: 100%;
  white-space: nowrap;
}

/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-file-upload {
  @apply flex items-center justify-center border-2 border-dashed border-gray-400 rounded-lg p-4 cursor-pointer hover:bg-gray-700 transition-colors;
}

.custom-file-upload .icon {
  @apply mr-2 text-red-500;
}

.custom-file-upload .text {
  @apply text-white font-medium;
}
